#nosotros{
	padding:3em 0;
	background:$light-gray;
	margin-bottom: $margin-bottom-inter-section;
	h2.title{
		margin-top: 0 !important;
	}
	a{
		width:40%
	}

	p{
		span{
			color:$secondary-color;
			font-family: $font-bold;
		}
	}
}

@media only screen and (min-width: 320px) and (max-width: 1024px){
	#nosotros{

		a{
			width:100% !important;
		}
	}		
}