#nuestras-oficinas{
	margin-bottom: $margin-bottom-inter-section;
	.primary-color:not(h3):not(h2){
		margin-bottom: 0px;
	}
	#map{
		height: 600px;
		width: 100%;
	}
	ul{
		li{
			font-family: $font-regular;
		}
	}
}