/*---------------------------------------------*/
                /*SLIDER*/
/*----------------------------------------------*/

#slider{
  .slide{
      position:relative;
      width:100%;
      height: 100vh;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      @extend .flex;
      align-content:center;
      align-items:center;
      

      .slide__content{
        $relative-font: 1.4rem;
        font-size: $relative-font !important;
        line-height: 0;
        max-width: 90%;
        h1{
          color:$third-color;
          font-size: $relative-font !important;
          margin-bottom: 0.45em;
        }
        a:hover{
          background:$primary-color;
          color:$third-color !important;
        }
        a{
          margin-top:0.25em;
          color:$third-color;
       
        }
      }

      .slide__content.right{
        margin-left:auto;
        margin-right: 10%;
      }

      .slide__content.center{
        margin-left:auto;
        margin-right: auto;
        text-align: center;

        a{
          padding:0.25em 2em;
        }
      }
  }

  #owl-1 #slide-1{
    background-image:url(../img/slider/1.jpg);
   // background:black;
  }


  #owl-1 #slide-2{
    background-image:url(../img/slider/1.jpg);
    //background:black;
  }



.owl-carousel .owl-stage-outer{
  z-index: -1 !important;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    /* margin-top: -47px !important; */
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 28px;
    z-index: 39;
}

.owl-theme .owl-dots .owl-dot span{
      background: white !important;
    width: 10px;
    height: 10px;
    margin: auto;
    margin-right:5px;
    opacity: 0.5;
    -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;

}

.owl-theme .owl-dots .owl-dot.active span {
      background: white !important;
      border-color:white;
      animation: opacity_animation 1s;
       opacity: 1 !important;
}
.owl-theme .owl-dots .owl-dot{
  outline:none;
}


}

@media only screen and (min-width: 320px) and (max-width: 850px){

 #slider{
  .slide{
    .slide__content{
      a{
        width: 100%;
      }
    }
      .slide__content.right{
        margin-left:auto;
        margin-right:auto;
        text-align: center;
      }

  }

  

}


}



@media only screen and (min-width: 850px) and (max-width: 1024px){




}