$primary-color:#7d9f45;
$secondary-color: #724432;

$gray:#606060;

$third-color:white;

$light-gray:#eaeaea;

$red-color: #FF0000;

$margin-bottom-inter-section:100px;


$font-black:'Montserrat-Black','Helvetica';

$font-bold:'Montserrat-Bold','Helvetica';

$font-regular:'Montserrat-Regular','Helvetica';

$font-medium:'Montserrat-Medium','Helvetica';