body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow-x: hidden;
}

iframe {
  overflow-y: scroll;
}

h1,
h2,
h4 {
  font-family: RobotoBold;
}

a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}

h1 {
  margin-top: 0;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

#content {
  margin-top: 45px;
}

#content h1 {
  font-size: 32px;
}

#especialidades,
#especialidadesExistentes {
  margin-top: 45px;
}

ul.flex,
#especialidadesExistentes ul.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: auto;
  padding: 0;
}

a {
  cursor: pointer;
}

ul.flex li,
#especialidadesExistentes ul.flex li {
  float: left;
  list-style: none;
  margin-left: 15px;
  margin-top: 15px;
}

#especialidades ul.flex li select,
#especialidadesExistentes ul.flex li select {
  width: 173px !important;
}

.side-bar h1 {
  font-size: 32px !important;
}

.full-btn {
  padding: 6px 0px;
  color: white;
  font-size: 23px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-top: 17px;
}

.confirm-alert-bk {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 6;
}

.confirm-alert-bk .panel {
  position: Absolute;
  width: 454px;
  height: 190px;
  background: white;
  left: 0;
  right: 0;
  top: -150px;
  bottom: 0;
  margin: auto;
  padding: 55px 0px;
  text-align: center;
  /* padding-top: 4px; */
}

.confirm-alert-bk .panel .form-btn {
  margin: 0;
  margin-top: 37px;
}

.confirm-alert-bk .panel a h2 {
  color: white;
  font-family: GothamBold;
}

.confirm-alert-bk .panel a h2,
.confirm-alert-bk .panel h2 {
  margin: 0;
  font-family: GothamBold;
}

.remove-locacion-btn {
  background: #e20707;
}

.remove-locacion-btn:hover {
  background: #c70707;
  color: #e0e0e0;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.add-locacion-btn {
  background: #4fb91a;
}

.add-locacion-btn:hover {
  background: #3f9415;
  color: #e0e0e0;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.save-locacion-btn {
  background: #56baed;
}

.save-locacion-btn:hover {
  background: #39ace7;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.remove-establecimiento-btn {
  background: #3a3a3a;
}

.remove-establecimiento-btn:hover {
  background: black;
  color: #e0e0e0;
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.blue {
  background: #39ace7;
}

.red {
  background: #c70707;
}

.small-btn {
  color: white;
  width: 70px;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
  font-size: 21px;
  margin-top: 17px;
  transition: all 0.15s ease-in-out;
}

.small-btn:hover {
  box-shadow: inset 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

div#buttons {
  margin: 22px 0px;
  text-align: center;
}

.margin-left-5 {
  margin-left: 5%;
}

.padding-0 {
  padding: 0;
}

.closeSession {
  position: absolute;
  top: 2%;
  right: 3%;
  font-size: 23pt;
  color: #b7b7b7;
  z-index: 6;
}

.closeSession a {
  cursor: pointer;
  font-size: 23pt;
  color: #b7b7b7;
  transition: all 0.75s ease-in-out;
}

.closeSession a:hover {
  color: #39ace7;
}

iframe {
  width: 100%;
  height: 100vh;
}

.side-bar div h1 a {
  color: #0000004d;
  transition: all 0.75s ease-in-out;
}

.side-bar div h1 a:hover {
  color: #39ace7;
  text-decoration: none;
}

.side-bar {
  height: 100vh;
  padding-left: 5%;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 5;
}

.side-bar div {
  height: 50vh;
  /* border-top: 1px solid grey; */
  border-bottom: 1px solid grey;
  position: relative;
}

.side-bar div h1 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 30%;
}

.pageContent {
  height: 100vh;
  float: left;
  background: transparent;
}

/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/*#login{display:none;}/*/

#login img.logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

#login form a.form-btn {
  margin-top: 15px;
}

.div-btn {
  transition: all 0.3s ease-in-out;
}

.div-btn:hover {
  background-color: #56baed;
}

.div-btn:hover .side-bar-btn {
  color: white;
}

.locacion {
  margin-top: 45px;
  border: 1px solid #e8e8e8;
  padding: 28px;
  border-radius: 7px;
}

.gm-search-input {
  background-color: white !important;
  padding: 6px !important;
}

.form-control {
  width: 100% !important;
}

/* FORM TYPOGRAPHY*/

input[type=button],
input[type=submit],
input[type=reset],
a.form-btn {
  cursor: pointer;
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
a.form-btn:hover {
  background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active,
a.form-btn:active {
  transform: scale(0.95);
}

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder,
input[type=password]:placeholder {
  color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #989898;
  text-decoration: none;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */

*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

/************FORMULARIO*****************/

.error {
  display: none;
  margin: 10px 11px;
  color: red;
  font-family: RobotoBold;
}

